/* Reset some default browser styles */
body,
h1,
h2,
p,
ul,
li,
form,
input,
textarea,
a {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #f5f5f5; /* Light gray */
  color: #333333; /* Dark gray */
  line-height: 1.6;
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, Content, Footer */
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #ffffff; /* White */
  padding: 20px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  flex: 1;
}

header,
footer {
  background-color: #333333; /* Dark gray */
  color: #ffffff; /* White */
  padding: 20px 0;
}

footer {
  grid-row-start: 3;
  grid-row-end: 4;
}

header .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-text {
  justify-content: center;
  font-size: 3rem; /* Adjust size as needed */
  color: #ffffff; /* White */
  font-family: "Open Sans", sans-serif;
}

footer p {
  text-align: center;
}

h1 {
  font-size: 2.8em;
  margin-bottom: 30px;
  color: #333333; /* Dark gray */
}

h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #555555; /* Slightly lighter gray */
}

p,
input,
textarea {
  margin-bottom: 25px;
}

small {
  display: block;
  margin-bottom: 25px;
  color: #888888; /* Light gray */
}

input,
textarea {
  width: calc(100% - 20px);
  padding: 12px;
  border: 2px solid #dddddd; /* Lighter gray */
  border-radius: 6px;
  font-size: 1em;
  outline: none;
  transition: border-color 0.3s;
}

input:focus,
textarea:focus {
  border-color: #007bff; /* Accent: Green */
}

button {
  text-decoration: none;
  background-color: #5bb12e; /* Accent: Green */
  color: #ffffff; /* White */
  padding: 12px 20px;
  font-size: 1em;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.full-width {
  display: block;
  text-align: center;
  width: 100%;
}

button:hover {
  background-color: #3e7c18; /* Accent Hover: Darker Green */
}

ul {
  list-style-type: none;
}

li {
  padding: 25px 0;
  border-bottom: 2px solid #eeeeee; /* Lighter gray */
}

li:last-child {
  border-bottom: none;
}

a.edit,
a.delete {
  text-decoration: none;
  color: #ffffff; /* White */
  padding: 12px 20px;
  font-size: 1em;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit {
  background-color: #5bb12e; /* Accent: Green */
}

.delete {
  background-color: #e74c3c; /* Red */
}

a.delete:hover {
  background-color: #c0392b; /* Darker Red */
}

#newPostBtn {
  margin: 30px 0;
  background-color: #5bb12e; /* Accent: Green */
  padding: 12px 20px;
  font-size: 1em;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  color: #ffffff; /* White */
  text-align: center;
  text-decoration: none;
}

#newPostBtn:hover {
  background-color: #3e7c18; /* Accent Hover: Darker Green */
}
